
<div style="position: relative;">
  <!-- Añade un elemento de visualización de PDF -->
  <embed [src]="pdfUrl" type="application/pdf" width="100%" height="1100px"  [style.transform]="'scale(' + zoomLevel + ')'" >







    <div class="container" style="
      position: absolute;
      top: 93%;
      left: 19.5%; /* Ajusta la posición izquierda según tu diseño */
      z-index: 100; /* Ajusta el valor z-index para asegurarte de que esté por encima del visor de PDF */
      background:white; /* Establece un fondo blanco u otro color de fondo */
      width: 59%;
      height: 65px;
      display: flex;justify-content: space-around;font-size: 8px;font-weight: bold;">

      <div style="    display: flex;
      flex-direction: column;width: 50%;">

        <div class="d-flex " >
            <span> RESP. DEL SERVICIO:</span>
            <span  style="margin-left: 25px">{{correoSeleccionado}} </span>
        </div>

        <div class="d-flex" >
          <span> N° FOTOCHECK: </span>
          <select (change)="seleccionarUsuario($event)" style="margin-left:40px">
            <option *ngFor="let usuario of usuarios" [value]="usuario.fotocheck">{{usuario.fotocheck}}</option>
          </select>



        </div>

        <div class="d-flex" >
          <span>FIRMA: </span>
          <img  [src]="rutaFirmaSeleccionada" style="width: 70px; height: 30px;margin-left: 75px">
        </div>

      </div>





      <div style="    display: flex;
      flex-direction: column;width: 50%;">

        <div class="d-flex " >
            <span> RESP. DEL SERVICIO:</span>
            <span  style="margin-left: 25px">{{correoSeleccionado}} </span>
        </div>

        <div class="d-flex" >
          <span> N° FOTOCHECK: </span>
          <select (change)="seleccionarUsuario($event)" style="margin-left:40px">
            <option *ngFor="let usuario of usuarios" [value]="usuario.fotocheck">{{usuario.fotocheck}}</option>
          </select>



        </div>

        <div class="d-flex" >
          <span>FIRMA: </span>
          <img  [src]="rutaFirmaSeleccionada" style="width: 70px; height: 30px;margin-left: 75px">
        </div>

      </div>













    </div>
</div>
